<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="games_view/games.css">
    <title>Games</title>
</head>
<body>
    <div ng-app="gamesApp" ng-controller="gamesCtrl">
        Games found:
        <select ng-model="selectedGame" ng-options="x.name for x in games"></select>
        <button ng-click="update()">Update</button>
        <br>
        <td>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Author</th>
                    <th>Tags</th>
                </tr>
                <tr>
                    <td>{{gameName}}</td>
                    <td>{{gameAuthor}}</td>
                    <td>
                        <ul ng-repeat="y in gameTags">{{y}}</ul>
                    </td>
                </tr>
            </table>
        </td>
    </div>
</body>

<script src="games_view/games_ctrl.js"></script>
</html>