table, th, td {
    border: 1px solid black;
}

th {
    text-align: left;
}

table {
    border-spacing: 5px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0px;
}